<div>
  <div ng-if="ctrl.display.credential">
    <h3>Credential Details</h3>
    <h4>When you click the 'Accept' button below, you will be redirected to
      your IDP to store the credential.
    </h4>
    <div><pre class="pre-scrollable">{{ ctrl.credential | json }}</pre></div>
    <button
      ng-click="ctrl.acceptCredential()"
      type="button" class="btn btn-success">Accept</button>
    <button
      ng-click="ctrl.rejectCredential()"
      type="button" class="btn btn-danger">Reject</button>
  </div>
  <div ng-if="ctrl.display.acknowledgement">
    <h3>The following credentials were successfully stored at your identity provider:</h3>
    <pre class="pre-scrollable">{{ ctrl.storedCredential | json }}</pre>
  </div>
</div>
