<div>
  <h3>Credential Details</h3>
  <h4>When you click the 'Accept' button below, you will be redirected to
    your IDP to store the credential.
  </h4>
  <!-- FIXME: use br-identity -->
  <div ng-repeat="credential in $ctrl.identity.credential">
    <br-credential
      br-credential="credential['@graph']"
      br-show-actions="false"></br-credential>
  </div>
  <button
    ng-click="$ctrl.acceptCredential()"
    type="button" class="btn btn-success">Accept</button>
  <button
    ng-click="$ctrl.rejectCredential()"
    type="button" class="btn btn-danger">Reject</button>
</div>
