<div>
  <div align="center" ng-if="model.display.login">
    <div class="row">
      <div class="col-md-12" align="center">
        <hr/>
        <h4>Please login to accept your credential.</h4>
        <br/>
      </div>
    </div>

    <div class="row"></div>

    <div class="row">
      <div class="col-md-12" align="center">
        <button ng-click="model.login()" type="button"
          class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
  <div align="center" ng-if="model.display.instructions">
    <h3>
      Thank you for logging in and providing your decentralized identifier (DID).
    </h3>
    <h4>
      Click below to issue a new credential to yourself.
    </h4>
    <button
      ng-click="model.showCredential()"
      type="button" class="btn btn-primary">Issue Credential</button>
  </div>
  <div ng-if="model.display.credential">
    <h3>Credential Details</h3>
    <h4>When you click the 'Accept' button below, you will be redirected to
      your IDP to store the credential.
    </h4>
    <div><pre class="pre-scrollable">{{ model.credential | json }}</pre></div>
    <button
      ng-click="model.acceptCredential()"
      type="button" class="btn btn-success">Accept</button>
    <button
      ng-click="model.rejectCredential()"
      type="button" class="btn btn-danger">Reject</button>
  </div>
  <div ng-if="model.display.acknowledgement">
    <h3>The following credentials were successfully stored at your identity provider:</h3>
    <pre class="pre-scrollable">{{ model.storedCredential | json }}</pre>
  </div>
</div>
