<ul class="stackable-menu dropdown-menu">
  <li ng-show="model.allowEdit">
    <a class="stackable-cancel" ng-click="model.modals.credential=model.credential; model.modals.showEditCredentialModal=true">
      <i class="fa fa-pencil"></i> Edit
    </a>
  </li>
  <li>
    <a class="stackable-cancel" ng-click="model.modals.credential=model.credential; model.modals.showExportCredentialModal=true">
      <i class="fa fa-cloud-upload"></i> Export
    </a>
  </li>
  <li ng-show="model.credential.sysIsPublic">
    <a class="stackable-cancel" ng-click="model.modals.showShareCredentialModal=true">
      <i class="fa fa-share-alt"></i> Share
    </a>
  </li>
  <li ng-show="model.allowEdit" class="alert-danger">
    <a class="stackable-cancel" ng-click="model.modals.credential=model.credential; model.modals.showDeleteCredentialAlert=true">
      <i class="fa fa-remove"></i> Delete
    </a>
  </li>
</ul>
