<ul class="stackable-menu dropdown-menu">
  <li ng-show="$ctrl.allowEdit">
    <a class="stackable-cancel" ng-click="$ctrl.modals.credential=$ctrl.credential; $ctrl.modals.showEditCredentialModal=true">
      <i class="fa fa-pencil"></i> Edit
    </a>
  </li>
  <li>
    <a class="stackable-cancel" ng-click="$ctrl.modals.credential=$ctrl.credential; $ctrl.modals.showExportCredentialModal=true">
      <i class="fa fa-cloud-upload"></i> Export
    </a>
  </li>
  <li ng-show="$ctrl.credential.sysIsPublic">
    <a class="stackable-cancel" ng-click="$ctrl.modals.showShareCredentialModal=true">
      <i class="fa fa-share-alt"></i> Share
    </a>
  </li>
  <li ng-show="$ctrl.allowEdit" class="alert-danger">
    <a class="stackable-cancel" ng-click="$ctrl.modals.credential=$ctrl.credential; $ctrl.modals.showDeleteCredentialAlert=true">
      <i class="fa fa-remove"></i> Delete
    </a>
  </li>
</ul>
