<ul class="stackable-menu dropdown-menu">
  <li ng-show="$ctrl.credentialViewer.allowEdit">
    <a class="stackable-cancel"
      ng-click="$ctrl.credentialViewer.modals.credential=$ctrl.credentialViewer.credential;
        $ctrl.credentialViewer.modals.showEditCredentialModal=true">
      <i class="fa fa-pencil"></i> Edit
    </a>
  </li>
  <li>
    <a class="stackable-cancel"
      ng-click="$ctrl.credentialViewer.modals.credential=$ctrl.credentialViewer.credential;
        $ctrl.credentialViewer.modals.showCredentialInfoModal=true">
      <i class="fa fa-info"></i> Info
    </a>
  </li>
  <li>
    <a class="stackable-cancel"
      ng-click="$ctrl.credentialViewer.modals.credential=$ctrl.credentialViewer.credential;
        $ctrl.credentialViewer.modals.showExportCredentialModal=true">
      <i class="fa fa-cloud-upload"></i> Export
    </a>
  </li>
  <li ng-show="$ctrl.credentialViewer.credential.sysIsPublic">
    <a class="stackable-cancel"
      ng-click="$ctrl.credentialViewer.modals.showShareCredentialModal=true">
      <i class="fa fa-share-alt"></i> Share
    </a>
  </li>
  <li ng-show="$ctrl.credentialViewer.allowEdit" class="alert-danger">
    <a class="stackable-cancel"
      ng-click="$ctrl.credentialViewer.modals.credential=$ctrl.credentialViewer.credential;
        $ctrl.credentialViewer.modals.showDeleteCredentialAlert=true">
      <i class="fa fa-remove"></i> Delete
    </a>
  </li>
</ul>
