<div class="ng-cloak">
  <div ng-if="$ctrl.display.login" class="row">
    <h2 class="headline">{{$ctrl.siteTitle}}</h2>
    <div class="row">
      <div class="col-md-12" align="center">
        <hr/>
        <h4>Please login to access this credential.</h4>
        <br/>
      </div>
    </div>
    <div class="row"></div>
    <div class="row">
      <div class="col-md-12" align="center">
        <br-login br-login-callback="$ctrl.afterLogin(err, identity)"></br-login>
      </div>
    </div>
  </div>
  <div ng-show="$ctrl.display.acceptDirective" class="row">
    <br-accept-credential br-credential="$ctrl.credential"
      br-accept-credential-callback="$ctrl.acceptCallback(err, identity)"></br-accept-credential>
  </div>
  <div ng-if="$ctrl.display.acknowledgement" class="row">
    <h3>The following credentials were successfully stored at your identity provider:</h3>
    <br-credential
      br-credential="$ctrl.storedCredential"
      br-show-actions="false"></br-credential>
  </div>
  <div ng-if="$ctrl.display.rejected" class="row">
    <h3>The following credentials were rejected:</h3>
    <br-credential
      br-credential="$ctrl.credential"
      br-show-actions="false"></br-credential>
  </div>
  <div ng-show="$ctrl.display.credentialInfo">
    <div class="row">
      <div class="section col-md-12">
        <br-headline br-title="Credential" br-loading="$ctrl.loading || $ctrl.state.credentials.loading"
          br-options="{menu: !$ctrl.credential}">
          <br-credential-action-menu ng-if="!$ctrl.isTranscludeSlotFilled('actionMenu')">
          </br-credential-action-menu>
          <ng-transclude ng-transclude-slot="actionMenu"></ng-transclude>
        </br-headline>
        <div class="alert alert-danger" ng-hide="$ctrl.credential || $ctrl.loading || $ctrl.state.credentials.loading">
          <strong>Error!</strong> Credential not found or access not allowed.
        </div>
      </div>
    </div>

    <div ng-if="$ctrl.credential">
      <div class="row">
        <div class="title-section col-md-12">
          <h1 class="headline" ng-bind="$ctrl.credential.name"></h1>
          <hr/>
        </div>
      </div>

      <div ng-if="!($ctrl.loading || $ctrl.state.credentials.loading)">
        <div class="row">
          <div class="section col-md-12">
            <br-credential
              br-credential="$ctrl.credential"
              br-show-actions="false"></br-credential>
          </div>
        </div>
        <div class="row" ng-if="$ctrl.credential.sysDisplayContext">
          <div class="section col-md-12">
            <h3 class="headline">Context-specific Data
              (<a ng-click="$ctrl.contextDataVisible=!$ctrl.contextDataVisible">{{($ctrl.contextDataVisible && 'Hide') || 'Show'}}</a>)</h3>
            <div ng-show="$ctrl.contextDataVisible">
              <pre>{{$ctrl.compacted|json}}</pre>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="section col-md-12">
            <h3 class="headline">Data
              (<a ng-click="$ctrl.dataVisible=!$ctrl.dataVisible">{{($ctrl.dataVisible && 'Hide') || 'Show'}}</a>)</h3>
            <div ng-show="$ctrl.dataVisible">
              <pre>{{$ctrl.credential|json}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- modals -->

    <div ng-transclude="modal-slot"></div>
    <stackable-modal stackable="$ctrl.modals.showEditCredentialModal"
      br-lazy-compile="$ctrl.modals.showEditCredentialModal"
      br-lazy-id="br-credential-edit-credential-modal">
      <br-edit-credential-modal
        br-credential="$ctrl.modals.credential"
        br-update-url="$ctrl.credentialUpdateUrl">
      </br-edit-credential-modal>
    </stackable-modal>
    <stackable-modal stackable="$ctrl.modals.showShareCredentialModal">
      <br-share-credential-modal br-share-url="$ctrl.credentialShareUrl">
      </br-share-credential-modal>
    </stackable-modal>
    <stackable-modal stackable="$ctrl.modals.showExportCredentialModal"
      br-lazy-compile="$ctrl.modals.showExportCredentialModal"
      br-lazy-id="br-credential-export-credential-modal">
      <br-export-credential-modal
        br-credential="$ctrl.modals.credential"></br-export-credential-modal>
    </stackable-modal>
    <!-- delete alert -->
    <stackable-modal stackable="$ctrl.modals.showDeleteCredentialAlert"
      stackable-closed="$ctrl.confirmDeleteCredential(err, result)"
      br-lazy-compile="$ctrl.modals.showDeleteCredentialAlert"
      br-lazy-id="br-credential-delete-credential-modal">
      <div br-alert-modal
        br-modal-header="Warning"
        br-modal-ok="Delete"
        br-modal-cancel="Cancel">
        <p>Are you sure that you want to delete this credential? This action can't be undone.</p>
        <!-- TODO: Show credential {{$ctrl.credential}} -->
      </div>
    </stackable-modal>
  </div>
</div>
