<br-form
  br-model="model.credential"
  br-groups="model.groups"
  br-options="{editable: false}"></br-form>

<div class="section" ng-if="model.actionables.length > 0">
  <h4 class="headline">Potential Actions</h4>
  <div ng-repeat="actionable in model.actionables">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-2">{{actionable.label || actionable.type || actionable.id}}</label>
        <div class="col-md-10">
          <div ng-switch="actionable.potentialAction">
            <a href="{{actionable['schema:potentialAction']['schema:target']}}" class="btn btn-success">{{actionable['schema:potentialAction'].name || actionable['schema:potentialAction'].type}}</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
